<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :platform_ids, "Platforms:" %>
  <%= f.collection_check_boxes :platform_ids, Platform.all, :id, :name %>
  <br>
  <%= f.label :game_ids, "Games:" %>
  <%= f.collection_check_boxes :game_ids, Game.all.order(:name), :id, :name %>
  <br>
  <%= f.label :steam_id %>
  <%= f.text_field :steam_id %>
  <br>
  <%= f.label :origin_id %>
  <%= f.text_field :origin_id %>
  <br>
  <%= f.label :uplay_id %>
  <%= f.text_field :uplay_id %>
  <br>
  <%= f.label :xbox_user %>
  <%= f.text_field :xbox_user %>
  <br>
  <%= f.label :psn %>
  <%= f.text_field :psn %>
  <br>
  <%= f.label :nnid %>
  <%= f.text_field :nnid %>
  <br>
  New Password <i>(changing is optional)</i> and Confirm New Password<br />
  <%= f.password_field :password, autocomplete: "off" %> <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <br>
  <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>
  <br>
  <%= f.submit "Update" %>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
