<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  New Password <i>(changing is optional)</i> and Confirm New Password<br />
  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <br>
  <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>
  <br>
  <%= f.submit "Update" %>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
