<small>
  <%= link_to "cancel", :back, class: "game-back-button" %>
</small>
<center>
  <%= form_for(@platform) do |f| %>
  <table>
    <tr>
      <td style="text-align:right;">
        Platform
      </td>
      <td style="width:10px;">
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Maker
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Released on
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.date_field :released %>
        <br>
        <br>
        <center>
          <%= f.submit button_text  %>
          <br>
          <small><%= link_to "cancel", :back %></small>
        </center>

        <% end %>