<small>
  <%= link_to "cancel", :back, class: "game-back-button" %>
</small>
<center>
  <%= form_for(@platform) do |f| %>
  <table>
    <tr>
      <td style="text-align:right;">
        Platform
      </td>
      <td style="width:10px;">
      </td>
      <td>
        <%= f.text_field :name, class: "edit-platform-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Maker
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :name, class: "edit-platform-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Released on
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.date_field :released, class: "edit-platform-inputs" %>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <center>
  <%= f.submit button_text, class: "create-update-button-platform"  %>
  </center>

  <% end %>