<h2>
  <small><%= link_to "Back", :back %></small> <%= @platform.name %> <small><%= link_to 'Edit', edit_platform_path(@platform) %></small>
</h2>
Made and distributed by <%= @platform.owner %>. First released on <%= @platform.released %>