<small>
  <%= link_to "Back", platforms_path, class: "platform-back-button" %> <%= link_to 'Edit', edit_platform_path(@platform), class: "edit-platform-button" %>
</small>
<div class="profile-wrap">
<h2>
  <%= @platform.name %>
</h2>
<br>
Made and distributed by <%= @platform.owner %>. First released on <%= @platform.released %>