<%#= render partial: "forshow" %>
<%= link_to "Edit Profile", edit_user_registration_path, class: "edit-profile-button" %>
<div class="profile-wrap">
  <table>
    <tr>
      <td>
      <%= image_tag(@user.profile_image.profile_page.url) %>
      </td>
      <td>
        <%= @user.username %>
      </td>
    </tr>
    <tr>
      <% if @user.first_name == nil %>
      <td>
        <br>
        <em>
          <small>
            no name data
          </small>
        </em>
      </td>
      <% else %>
      <td>
        <br>
        <%= @user.first_name %>
      </td>
      <% end %>
      <% if @user.last_name == nil %>
      <td>
        <br>
        <em>
          <small>
            no name data
          </small>
        </em>
      </td>
      <% else %>
      <td>
        <br>
        <%= @user.last_name %>
      </td>
      <% end %>
    </tr>
  </table>
  <br>
  <br>
  <div class="owned-item-list">
    <div id="listContainer">
      <ul id="expList">
        <div class="left-column-OIL">
          <li>
            Owned Platforms ▼
            <ul>
              <% @user.platforms.each do |platform| %>
              <li>
                <span>
                  <%= platform.name %>
                </span>
              </li>
              <% end %>
            </ul>
          </li>
        </div>
        <div class="right-column-OIL">
          <li>
            Owned Games ▼
            <ul>
              <% @user.games.each do |game| %>
              <li>
                <span>
                  <%= game.name %>
                </span>
              </li>
              <% end %>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <table>
    <tr>
      <td>
        <% if @user.steam_id == nil %>
        Steam Username: <small><em>No Data Given</em></small>
        <% else %>
        Steam Username: <%= @user.steam_id %>
        <% end %>
      </td>
      <td>
        <% if @user.origin_id == nil %>
        Origin Username: <small><em>No Data Given</em></small>
        <% else %>
        Origin Username: <%= @user.origin_id %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <% if @user.uplay_id == nil %>
        uPlay Username: <small><em>No Data Given</em></small>
        <% else %>
        uPlay Username: <%= @user.uplay_id %>
        <% end %>
      </td>
      <td>
        <br>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <% if @user.xbox_user == nil %>
        Xbox Live Gamer Tag: <small><em>No Data Given</em></small>
        <% else %>
        Xbox Live Gamer Tag: <%= @user.xbox_user %>
        <% end %>
      </td>
      <td>
        <br>
        <% if @user.psn == nil %>
        PlayStation Network ID: <small><em>No Data Given</em></small>
        <% else %>
        PlayStation Network ID: <%= @user.psn %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <% if @user.nnid == nil %>
        Nintendo Network ID: <small><em>No Data Given</em></small>
        <% else %>
        Nintendo Network ID: <%= @user.nnid %>
        <% end %>
      </td>
      <td>
        <br>
      </td>
    </tr>
  </table>
  <br>
  <br>

  <h2>Friends</h2>
  <ul>
    <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
    <% end %>
  </ul>

  <p><%= link_to "Find Friends", users_path %></p>

  <h2>Friended by Users</h2>
  <ul class="friend-request">
    <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
    <% end %>
  </ul>
  <br>
  <br>
  <%= form_for([@user, @user.comments.new]) do |f| %>
  <%= f.text_area :body %>
  <%= f.submit 'Post' %>
  <br>
  <small>
    <%= link_to "cancel", :back %>
  </small> 
  <% end %>
  <%# end %>

  <br>
  <% @user.last_ten_comments.each do |comment| %>
  <%= comment.creator.try :username %> - <%= comment.body %> <br>
  <% end %>
  <br>
  <br>
</div>