<small>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "edit-profile-button" %>
</small>
<div class="profile-wrap">
  <div class="box box-5">
    <% if @user.profile_image.to_s.strip.length == 0 %>
    <%= image_tag("/image/default-user-image.png").profile_page %>
    <% else %>
    <%= image_tag(@user.profile_image.profile_page.url) %>
    <% end %>
  </div>
  <div class="box box-6 user-details">
    <h2>
      <%= @user.username %>
    </h2>
    <% if @user.first_name.to_s.strip.length == 0 %>
    <em>
      <small>
        no name data
      </small>
    </em>
    <% else %>
    <br>
    <%= @user.first_name %>
    <% end %>
    <% if @user.last_name.to_s.strip.length == 0 %>
    <em>
      <small>
        no name data
      </small>
    </em>
    <% else %>
    <%= @user.last_name %>
    <% end %>
    <br>
    <br>
    <% if @user.location.to_s.strip.length == 0 %>
    <em>
      <small>
        no location data
      </small>
    </em>
    <% else %>
    <%= @user.location %>
    <% end %>
    <br>
    <br>
    <table>
      <tr>
      <td style="width:190px">
          <% if @user.origin_id.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/Vdvmj7W.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/Vdvmj7W.png", class: "user-gamer-tags" %> 
          <%= @user.origin_id %>
          <% end %>
        </td>
        <td style="width:10px;">
        </td>
        <td style="width:190px">
          <% if @user.nnid.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/dTGR4i5.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/dTGR4i5.png", class: "user-gamer-tags" %> 
          <%= @user.nnid %>
          <% end %>
        </td>
      </tr>
      <tr>
      <td style="width:190px">
          <% if @user.steam_id.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/lMP1qOu.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/lMP1qOu.png", class: "user-gamer-tags" %> 
          <%= @user.steam_id %>
          <% end %>
        </td>
        <td style="width:10px;">
        </td>
        <td style="width:190px">
          <% if @user.psn.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/vSskgpX.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/vSskgpX.png", class: "user-gamer-tags" %> 
          <%= @user.psn %>
          <% end %>
        </td>
      </tr>
      <tr>
      <td style="width:190px">
          <% if @user.uplay_id.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/diftazt.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/diftazt.png", class: "user-gamer-tags" %> 
          <%= @user.uplay_id %>
          <% end %>
        </td>
        <td style="width:10px;">
        </td>
        <td style="width:190px">
          <% if @user.xbox_user.to_s.strip.length == 0 %>
          <%= image_tag "http://i.imgur.com/s84S7VR.png", class: "user-gamer-tags" %> 
          <small>
            <em>
              No Data Given
            </em>
          </small>
          <% else %>
          <%= image_tag "http://i.imgur.com/s84S7VR.png", class: "user-gamer-tags" %> 
          <%= @user.xbox_user %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <div class="owned-item-list">
    <div id="listContainer">
      <ul id="expList">
        <div class="left-column-OIL">
          <li>
            Owned Platforms ▼
            <ul>
              <% @user.platforms.each do |platform| %>
              <li>
                <span>
                  <%= platform.name %>
                </span>
              </li>
              <% end %>
            </ul>
          </li>
        </div>
        <div class="right-column-OIL">
          <li>
            Owned Games ▼
            <ul>
              <% @user.games.each do |game| %>
              <li>
                <span>
                  <%= game.name %>
                </span>
              </li>
              <% end %>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <br>
  <br>

  <h2>Friends</h2>
  <ul>
    <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.username %> <%= link_to image_tag("http://i.imgur.com/XufjfSF.png", class: "lower-friend-button"), friendship, :method => :delete, class: "add-friend-button" %>
    </li>
    <% end %>
  </ul>

  <p><%= link_to "Find Friends", users_path %></p>

  <h2>Friend Requests</h2>
  <ul class="friend-request">
    <% for user in @user.inverse_friends %>
    <li><%=h user.username %> <%= link_to image_tag("http://i.imgur.com/GRL5rIj.png", class: "lower-friend-button"), friendships_path(:friend_id => user), :method => :post, class: "add-friend-button" %>
    </li>
    <% end %>
  </ul>
  <br>
  <br>
  <%= form_for([@user, @user.comments.new]) do |f| %>
  <%= f.text_area :body, class: "new-comment-box-user" %>
  <%= f.submit 'Post', class: "post-new-comment-user" %>
  <% end %>

  <br>
  <% @user.last_ten_comments.each do |comment| %>
  <div class="user-comment-section">
    <%= word_wrap(comment.body, line_width: 60) %>
    <br>
    <br>
    <div class="comment-footer">
      <small>
        <%= comment.creator.try :username %> <%= (Time.now - comment.created_at) %> seconds ago
      </small>
    </div>
  </div>
  <br>
  <% end %>
  <br>
  <br>
</div>