<%#= render partial: "forshow" %>

<table>
  <tr>
    <td>
      image
    </td>
    <td>
      <%= @user.username %>
    </td>
  </tr>
  <tr>
    <% if @user.first_name == nil %>
      <td>
        <br>
        <em>
          <small>
            no name data
          </small>
        </em>
      </td>
    <% else %>
      <td>
        <br>
        <%= @user.first_name %>
      </td>
    <% end %>
    <% if @user.last_name == nil %>
      <td>
        <br>
        <em>
          <small>
            no name data
          </small>
        </em>
      </td>
    <% else %>
      <td>
        <br>
        <%= @user.last_name %>
      </td>
    <% end %>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <th>
      Platforms Owned
    </th>
    <th>
      Games Owned
    </th>
  </tr>
  <tr>
    <td>
      platform
    </td>
    <td>
      game
    </td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <td>
      Steam
    </td>
    <td>
      Origin
    </td>
  </tr>
  <tr>
    <td>
      <br>uPlay
    </td>
    <td>
      <br>
    </td>
  </tr>
  <tr>
    <td>
      <br>Xbox
    </td>
    <td>
      <br>PSN
    </td>
  </tr>
  <tr>
    <td>
      <br>Nintendo
    </td>
    <td>
      <br>
    </td>
  </tr>
</table>
<br>
<br>
<h2>
  Friends
</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Find Friends", users_path %>
</p>
<h2>Friend Requests</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>
<br>
<br>
<%= link_to "Post a comment", new_comment_path %>
<br>
comments go here
<br>
<br>
<%= link_to "Back", :users %> <%= link_to "Edit your profile", edit_user_registration_path, class: "edit_profile" %>