<small>
  <%= link_to "cancel", :back, class: "tournament-back-button" %>
</small>
<center>
  <%= form_for(@tournament) do |f| %>
  <table>
    <tr>
      <td style="text-align:right;">
        Tournament Name
      </td>
      <td style="width:10px;">
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Invite Only Tournament?
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.check_box :private %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Host
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :host, class: "edit-tournament-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Start Date
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.date_field :start_date, class: "edit-tournament-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        End Date
      </td>
      <td style="width:10px">
        <br>
      </td>
      <td>
        <br>
        <%= f.date_field :end_date, class: "edit-tournament-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Start Time
      </td>
      <td style="width:10px">
        <br>
      </td>
      <td>
        <br>
        <%= f.time_field :start_time, class: "edit-tournament-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        End Time
      </td>
      <td style="width:10px">
        <br>
      </td>
      <td>
        <br>
        <%= f.time_field :end_time, class: "edit-tournament-inputs" %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        First Place Prize
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :first_prize %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Second Place Prize
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :second_prize %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Third Place Prize
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :third_prize %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Game
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.select :game_id, Game.all.map { |g| [g.name, g.id] } %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>
        Platform
      </td>
      <td style="width:10px;">
        <br>
      </td>
      <td>
        <br>
        <%= f.select :platform_id, Platform.all.map { |p| [p.name, p.id] } %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br>
        Tournament Description
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= f.text_area :description %>
      </td>
    </tr>
    <tr>
      <td style="text-align:right;">
        <br>Tournament Location
      </td>
      <td style="width:10px">
        <br>
      </td>
      <td>
        <br>
        <%= f.text_field :location %>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <%= f.submit button_text  %>
  <br>
</center>

<% end %>