Tournament created by <%= @tournament.creator.username %>

<h2>
  <%= @tournament.name %> hosted by <%= @tournament.host %> at <%= @tournament.location %>
</h2>

<% if @tournament.private == true %>
  PRIVATE TOURNAMENT
<% else %>
  PUBLIC TOURNAMENT
<% end %>
<br>
Playing <%= @tournament.game.name %> on the <%= @tournament.platform.name %>
<br>
From <%= @tournament.start_date.strftime('%-d %b %Y') %> at <%= @tournament.start_time.strftime('%H %M') %> until <%= @tournament.end_time.strftime('%H %M') %>, <%= @tournament.end_date.strftime('%-d %b %Y') %>
<br>
<br>
First Place receives: <%= @tournament.first_prize %>
<br>
Second Place receives: <%= @tournament.second_prize %>
<br>
Third Place receives: <%= @tournament.third_prize %>
<br>
<br>
<%= @tournament.description %>
<br>
<br>
<%= link_to "Back", :back %> <%= link_to 'Edit', edit_tournament_path(@tournament) %>
