Tournament created by <%= link_to @tournament.creator.username, user_path(@tournament.creator.id) %>

<h2>
  <%= @tournament.name %> hosted by <%= @tournament.host %> at <%= @tournament.location %>
</h2>

<h3>This Tournament is 
  <% if @tournament.start_date > DateTime.now %>
      Unbegun!
  <% else %>
    <% if @tournament.start_time > DateTime.now %>
      Starting Soon!
    <% elsif @tournament.end_date > DateTime.now %>
      In Progress!
    <% else %>
      <% if @tournament.end_time > DateTime.now %>
        Finishing Soon!
      <% else %>
        Concluded!
      <% end %>
    <% end %>
  <% end %>
</h3>

<% if @tournament.private == true %>
  PRIVATE TOURNAMENT
<% else %>
  PUBLIC TOURNAMENT
<% end %>
<br>
Playing <%= link_to @tournament.game.name, game_path(@tournament.game.id) %> on the <%= link_to @tournament.platform.name, platform_path(@tournament.platform.id) %>
<br>
From <%= @tournament.start_date.strftime('%-d %b %Y') %> at <%= @tournament.start_time.strftime('%H %M') %> until <%= @tournament.end_time.strftime('%H %M') %>, <%= @tournament.end_date.strftime('%-d %b %Y') %>
<br>
<br>
First Place receives: <%= @tournament.first_prize %>
<br>
Second Place receives: <%= @tournament.second_prize %>
<br>
Third Place receives: <%= @tournament.third_prize %>
<br>
<br>
<%= @tournament.description %>
<br>
<br>
<%= form_for([@tournament, @tournament.comments.new]) do |f| %>
  <%= f.text_area :body %>
<%= f.submit 'Post'  %>
<br>
<small><%= link_to "cancel", :back %></small> 

<% end %>
<br>
<% @tournament.last_ten_comments.each do |comment| %>
  <%= comment.creator.try :username %> - <%= comment.body %> <br>
<% end %>
<br>
<br>
<%= link_to "Back", :tournaments %> <%= link_to 'Edit', edit_tournament_path(@tournament) %>
