Event created by <%= @event.creator.username %>

<h2>
  <%= @event.name %> hosted by <%= @event.host %> at <%= @event.location %>
</h2>
<h3>
  <% if @event.start_date > DateTime.now %>
      Unbegun
  <% else %>
    <% if @event.start_time > DateTime.now %>
      Starting Soon
    <% elsif @event.end_date > DateTime.now %>
      In Progress
    <% else %>
      <% if @event.end_time > DateTime.now %>
        Finishing Soon
      <% else %>
        Concluded
      <% end %>
    <% end %>
  <% end %>
</h3>

<% if @event.private == true %>
  PRIVATE EVENT Invite only!
<% else %>
  PUBLIC EVENT Come one, come all!
<% end %>
<br>
From <%= @event.start_date.strftime('%-d %b %Y') %> at <%= @event.start_time.strftime('%H %M') %> until <%= @event.end_time.strftime('%H %M') %>, <%= @event.end_date.strftime('%-d %b %Y') %>
<br>
<br>
<%= @event.description %>
<br>
<br>
event comments go here
<br>
<br>
<%= link_to "Back", :back %> <%= link_to 'Edit', edit_event_path(@event) %>
