Event created by <%= @event.creator.username %>

<h2>
  <%= @event.name %> hosted by <%= @event.host %> at <%= @event.location %>
</h2>

<% if @event.private == true %>
  PRIVATE EVENT
<% else %>
  PUBLIC EVENT
<% end %>

From <%= @event.start_date.strftime('%-d %b %Y') %> at <%= @event.start_time.strftime('%H %M') %> until <%= @event.end_time.strftime('%H %M') %>, <%= @event.end_date.strftime('%-d %b %Y') %>

<%= @event.description %>

<%= link_to "Back", :back %> <%= link_to 'Edit', edit_event_path(@event) %>
