<nav>
  <ul>
    <li>
      <%= link_to "Game Platforms", game_platforms_path %>
    </li>
    <li>
      <%= link_to "Game Tournaments", game_tournaments_path %>
    </li>
    <li>
      <%= link_to "Game User", game_users_path %>
    </li>
  </ul>
</nav>

<%= link_to "Add a Game", new_game_path %>


<%= render @games %>

