<small>
  <%= link_to "Back", games_path, class: "game-back-button" %> <%= link_to 'Edit', edit_game_path(@game), class: "edit-game-button" %>
</small>
<div class="profile-wrap">
  <h2>
    <%= @game.name %>
  </h2>
  Developed by <%= @game.developer %> and published by <%= @game.publisher %> on <%= @game.release_date.strftime('%-d %b %Y') %>
  <br>
  <br>
  Reviews by gamers, for gamers.
  <br>
  <br>
  <% @game.reviews.each do |review| %>
  <div class="list-reviews">
  <strong>
    <%= link_to(review.title, review_path(review)) %>
  </strong>
  <br>
  <small>
    Written by <%= review.user.username %>
  </small>
  <br>
  <%= "#{review.body[0...225]}..."  %>
  </div>
  <% end %>
  </div>