<h2>
  <%= review.game.name %> 
  <% (1..(review.rate_average)).each do  %>
<%= image_tag 'https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/R2CuT5tfe09UFZq/twostars%20-%20solo%20full.png' %>
<% end %>
<% (1..(5 - review.rate_average)).each do  %>
<%= image_tag 'https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/CNHbLD4LjJuoFQz/twostars%20-%20solo%20empty.png' %>
<% end %> 
<%= link_to("#{review.title}", review_path(review)) %> <small>by <%= review.user.try(:username) %></small>
</h2>
