  <small>
  <%= link_to "Back", :reviews, class: "back-button" %> <%= link_to 'Edit', edit_review_path(@review), class: "edit-review-button" %>
  </small>

<div class="profile-wrap">
  <h2>
    <% (1..(@review.rate_average)).each do  %>
    <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
    <% end %>
    <% (1..(5 - @review.rate_average)).each do  %>
    <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
    <% end %>
    <%= @review.title %>
  </h2>
  <h4>
    by <%= @review.user.try(:username) %>
  </h4>

  <br>
  This review is for <%= @review.game.name %> on the <%= @review.platform.name %>
  <br>
  <br>
  <%= @review.body %>
  <br>
  <br>
  <table>
    <tr>
      <th>
        Art Style
      </th>
      <th>
        Audio
      </th>
    </tr>
    <tr>
      <td>
        <% (1..(@review.rate_art_style)).each do  %>
        <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
        <% end %>
        <% (1..(5 - @review.rate_art_style)).each do  %>
        <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
        <% end %>
      </td>
      <td>
        <% (1..(@review.rate_audio)).each do  %>
        <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
        <% end %>
        <% (1..(5 - @review.rate_audio)).each do  %>
        <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        Difficulty
      </th>
      <th>
        Immersion
      </th>
    </tr>
    <tr>
      <td>
        <% (1..(@review.rate_difficulty)).each do  %>
        <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
        <% end %>
        <% (1..(5 - @review.rate_difficulty)).each do  %>
        <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
        <% end %>
      </td>
      <td>
        <% (1..(@review.rate_immersion)).each do  %>
        <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
        <% end %>
        <% (1..(5 - @review.rate_immersion)).each do  %>
        <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        Length
      </th>
      <th>
        Mechanics
      </th>
    </tr>
    <tr>
      <td>
        <% (1..(@review.rate_length)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_length)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
      </td>
      <td>
        <% (1..(@review.rate_mechanics)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_mechanics)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
      </td>
    </tr>
    <tr>
      <th>
        Performance
      </th>
      <th>
        Story
      </th>
    </tr>
    <tr>
      <td>
        <% (1..(@review.rate_performance)).each do  %>
        <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
        <% end %>
        <% (1..(5 - @review.rate_performance)).each do  %>
        <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
        <% end %>
      </td>
      <td>
        <% (1..(@review.rate_story)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_story)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <div class="review-comment-new">
  <%= form_for([@review, @review.comments.new]) do |f| %>
  <%= f.text_area :body, class: "new-comment-box-review" %>
  <%= f.submit 'Post', class: "post-new-comment-review"  %>
  <% end %>
  <br>
  <% @review.last_ten_comments.each do |comment| %>
  <div class="user-comment-section">
    <%= word_wrap(comment.body, line_width: 60) %>
    <br>
    <br>
    <div class="comment-footer">
      <small>
        <%= comment.creator.try :username %> <%= time_ago_in_words(comment.created_at) %> ago
      </small>
    </div>
  </div>
  <% end %>
  </div>
</div>