  <small>
  <%= link_to "Back", :reviews, class: "back-button" %> <%= link_to 'Edit', edit_review_path(@review), class: "edit-review-button" %>
  </small>

<div class="profile-wrap">
  <h2>
    <% (1..(@review.rate_average)).each do  %>
    <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
    <% end %>
    <% (1..(5 - @review.rate_average)).each do  %>
    <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
    <% end %>
    <%= @review.title %>
  </h2>
  <h4>
    by <%= @review.user.try(:username) %>
  </h4>

  <br>
  This review is for <%= @review.game.name %> on the <%= @review.platform.name %>
  <br>
  <br>
  <%= @review.body %>
  <br>
  <br>
  <strong>Story: </strong>
  <% (1..(@review.rate_story)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_story)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Difficulty: </strong>
  <% (1..(@review.rate_difficulty)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_difficulty)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Length: </strong>
  <% (1..(@review.rate_length)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_length)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Mechanics: </strong>
  <% (1..(@review.rate_mechanics)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_mechanics)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Audio: </strong>
  <% (1..(@review.rate_audio)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_audio)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Performance: </strong>
  <% (1..(@review.rate_performance)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_performance)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Art Style: </strong>
  <% (1..(@review.rate_art_style)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_art_style)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <strong>Immersion: </strong>
  <% (1..(@review.rate_immersion)).each do  %>
  <%= image_tag 'http://i.imgur.com/WbDtQ8h.png' %>
  <% end %>
  <% (1..(5 - @review.rate_immersion)).each do  %>
  <%= image_tag 'http://i.imgur.com/WaTJ06O.png' %>
  <% end %>
  <br>
  <br>
  <%= form_for([@review, @review.comments.new]) do |f| %>
  <%= f.text_area :body %>
  <%= f.submit 'Post'  %>
  <br>
  <small><%= link_to "cancel", :back %></small> 

  <% end %>
  <br>
  <% @review.last_ten_comments.each do |comment| %>
  <%= comment.creator.try :username %> - <%= comment.body %> <br>
  <% end %>
  <br>
  <br>
  <%= link_to "Back", :reviews %> <%= link_to 'Edit', edit_review_path(@review) %>
</div>