<!DOCTYPE html>
<html>
<head>
  <title>H U D</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li>
      <%= link_to "Events", events_path %>
    </li>
    <li>
      <%= link_to "Event Tournaments", event_tournaments_path %>
    </li>
    <li>
      <%= link_to "Event Users", event_users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Friendships", friendships_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Games", games_path %>
    </li>
    <li>
      <%= link_to "Game Platforms", game_platforms_path %>
    </li>
    <li>
      <%= link_to "Game Tournaments", game_tournaments_path %>
    </li>
    <li>
      <%= link_to "Game User", game_users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Groups", groups_path %>
    </li>
    <li>
      <%= link_to "Group Users", group_users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Platforms", platforms_path %>
    </li>
    <li>
      <%= link_to "Platform Users", platform_users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Private Messages", private_messages_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Reviews", reviews_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Tournaments", tournaments_path %>
    </li>
    <li>
      <%= link_to "Tournament Users", tournament_users_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "Users", users_path %>
    </li>
  </ul>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
